body {
  background: #2b2a2a;
}

/* .app {
} */

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media only screen and (max-width: 992px) {
  .recent-stats {
    margin-top: 1em;
  }
}
