body {
  background: rgb(43, 42, 42);
}

/* .app {
} */

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
}
@media only screen and (max-width: 992px) {
  .recent-stats {
    margin-top: 1em;
  }
}
